$custom-font-family: 'Outfit',
sans-serif;
$custom-blue-color:#41cde2;
$custom-text-color:rgb(134, 134, 134);
$custom-border:1px solid rgba(70, 68, 68, 0.2);
$modal-background-color: rgba(0, 0, 0, 0.4);
$modal-content-background-color: #fefefe;
$modal-content-border-color: #888;
$close-color: #aaa;
$close-hover-color: black;
$submit-button-background-color: #4CAF50;
$submit-button-hover-background-color: #45a049;

.productModal {
    display: none;
    position: fixed;
    z-index: 991;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $modal-background-color;

    &.active {
        display: block;
      }

    &-content {
        background-color: $modal-content-background-color;
        margin: 4% auto;
        text-align: center;
        border: 1px solid $modal-content-border-color;
        width: 900px;
        display: flex;
        flex-direction: column;
        position: relative;
        animation: fadeDown 0.8s ease-in-out;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .slick-track {
        width: 2250px !important;
    }

    .slick-dots {
        display: none !important;
    }

    .slick-prev,
    .slick-next {
        color: #000;
        border: none;
        border-radius: 5px;
    }

    .slick-prev i,
    .slick-next i {
        font-size: 18px;
        opacity: 0.8;

        &:hover {
            color: $custom-blue-color;
        }
    }

    .slick-prev {
        z-index: 999;
        left: 4px;
        margin-right: 10px;

        &:hover {
            &::before {
                color: #000;
            }
        }

        &::before {
            color: #aea9a9;
        }
    }

    .slick-next {
        right: 4px;

        &:hover {
            &::before {
                color: #000;
            }
        }

        &::before {
            color: #aea9a9;
        }
    }

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    &__imageThumbnail {
        width: 450px;
        position: relative;
    }

    &__image {
        width: 400px !important;

        img {
            width: 100% !important;
            height: 100% !important;
        }
    }

    &__text {
        max-height: 400px;
        width: 395px;
        padding-right: 10px;
        padding-left: 8px;
        margin-right: 20px;
        text-align: start;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 2px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #000;
        }

        &::-webkit-scrollbar-track {
            background-color: #e3dcdc;
        }
    }

    &__raiting {
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }

    &--raiting-star {
        color: rgb(182, 173, 173);
        font: normal 200 11px/16px $custom-font-family;
    }

    &--raiting-count {
        margin-left: 3px;
        color: #868686;
        font-size: 13px;
    }

    &__title {
        margin-bottom: 15px;
        text-align: start;

        h2 {
            font: normal 300 20px/36px $custom-font-family;
        }
    }

    &__price {
        margin-bottom: 14px;
        display: flex;
        align-items: center;
        gap: 7px;
    }

    &--old-price {
        font: normal 400 18px/14.85px $custom-font-family;
        text-decoration: line-through rgba($color: #000000, $alpha: 0.6);
        opacity: 0.5;
    }

    &--new-price {
        font: normal 400 20.5px/16px $custom-font-family;
        color: red;
    }

    &__vendor {
        font: normal 400 15px/25.5px $custom-font-family;
        padding-bottom: 25px;
        margin-bottom: 35px;
        border-bottom: $custom-border;
        text-align: start;

        span {
            color: $custom-blue-color;
            cursor: pointer;
            position: relative;

            &:hover {
                &::before {
                    width: 0%;
                    transition: all 0.4s;
                }
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: -3px;
                width: 100%;
                height: 0.5px;
                background-color: #41CDE2;
                transition: all 0.4s;
            }
        }
    }

    &__info {
        width: 350px;
        text-align: start;
        font: normal 400 15px/25.5px $custom-font-family;
        color: $custom-text-color;
        margin-bottom: 15px;
    }

    &__color {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;

        &__title {
            text-align: start;
            text-transform: uppercase;
            margin-right: 6px;
            font: normal 400 12px/20.4px $custom-font-family;
            letter-spacing: 1.5px;
        }

        &__value {
            text-transform: uppercase;
            margin-right: 9px;
            font: normal 500 12px/20.4px $custom-font-family;
            letter-spacing: 1.5px;
        }

        &__content {
            margin-top: 12px;
            display: flex;
            gap: 8px;
        }

        &__box {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                border: 1px solid rgba($color: #000000, $alpha: 0.5);
            }

            &.active-color {
                border: 1px solid rgba($color: #000000, $alpha: 0.5);
            }
        }

        &--box {
            width: 32px;
            height: 32px;
            border: 1px solid rgba($color: #000000, $alpha: .2);
            border-radius: 50%;

            span {
                justify-content: center;
                align-items: center;
                background-color: #000;
                display: none;
                position: relative;

                span {
                    text-align: center;
                    display: inline;
                    width: 60px;
                    padding: 5px 5px;
                    font: normal 400 13px/13px $custom-font-family;
                    color: white;
                    top: -35px;
                    text-transform: capitalize;
                }

                i {
                    position: absolute;
                    top: -19px;
                    left: 50%;
                    transform: translateX(-50%);
                    color: #000;
                    font-size: 16px;
                }
            }
        }
    }

    &__size {
        margin-top: 20px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        position: relative;

        &__title {
            text-transform: uppercase;
            margin-right: 6px;
            font: normal 400 12px/20.4px $custom-font-family;
        }

        &__value {
            margin-right: 9px;
            font: normal 500 13px/18px $custom-font-family;
        }

        &__content {
            margin-top: 10px;
            display: inherit;
        }

        &__box {
            width: 34.6px;
            height: 34.6px;
            border: $custom-border;
            display: grid;
            place-content: center;
            margin-right: 8px;
            font-size: 14px;

            &.active-size {
                background-color: #000;
                color: #fff;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__stock {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 25px;

        i {
            color: #108043;
        }

        span {
            font: normal 400 15px/25.5px $custom-font-family;
        }
    }

    #productModalClose {
        width: 36px;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        color: $close-color;
        float: right;
        font-size: 27px;
        font-weight: 300;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;

        &:hover,
        &:focus {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
            color: $close-hover-color;
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__add-to-card {
        margin-top: 30px;
        padding-bottom: 20px;
        display: flex;

        &__btn {
            margin-left: 10px;
            width: 235.8px;
            height: 50px;
            text-align: center;
            border: none;
            background-color: #000;
            color: #fff;

            &:hover {
                background-color: $custom-blue-color;
                color: #fff;
                cursor: pointer;
            }
        }
    }

    &__count {
        border: $custom-border;
        width: 126.6px;
        display: flex;

        button {
            width: 38px;
            height: 48px;
            border: none;
            background-color: white;

            i {
                font-size: 14px;
                color: rgb(213, 213, 213);
            }

            &:hover {
                cursor: pointer;

                i {
                    color: #000;
                }
            }
        }

        input {
            text-align: center;
            border: none;
            outline: none;
            width: 49px;
            height: 48px;
            font: normal 500 18px/30.6px $custom-font-family;
        }
    }
}


