@font-face {
    font-family: "Manrope-ExtraLight";
    src: url("/fonts/Manrope-ExtraLight.ttf");
}

@font-face {
    font-family: "Manrope-Bold";
    src: url("/fonts/Manrope-Bold.ttf");
}

@font-face{
    font-family: "Nunito-Regular400";
    src: url("/fonts/Nunito-Regular.ttf");
    font-weight: 400;
}